{% extends 'master.html' %}


{% block contenido %} 
		<div>
			<div>
			    <div>
			        <div>
			        	<h3 class="index_text">Alba Burdallo Narvaez</h3>
			        	<p class="index_text">albburnar@alum.us.es</p>
			        </div>
			    </div>
			</div>
		</div>
<hr>
    <div>
		<article>
		    <h1>PRACTICA VOLUNTARIA </h1>
		    <p></p>
		    <p class="index_text">Web scrapping de la pagina: https://www.ktown4u.com/cat_2nd?grp_no=231307<br><br>

	- Cargar la BD con los siguientes datos de cada album: titulo (artista y nombre del album), imagen, precio original,
		precio con descuento, fecha de lanzamiento y numero de ventas.<br><br>

Construir una pagina web con un menu principal que permita las siguientes opciones:<br>

	- Mostrar una lista con los titulos, fechas de lanzamiento, precio e imagenes de todos los albumes.<br>
	- Mostrar el titulo de los 3 albumes mas vendidos.<br>
	- Mostrar los albumes (titulo, fecha y precio) que se pueden comprar en pre-order (que se pueden comprar ya 
		aunque no hayan salido a la venta aun).<br>
	- Buscar albumes por titulo: introducir una palabra y que muestre todos los albumes (titulo, fecha y precio)
		 que contengan dicha palabra en su titulo. <br>
	- Buscar albumes por fecha: introducir una fecha y que muestre todos los albumes (titulo, fecha
		 y precio) que son posteriores a la fecha introducida.<br><br>
		 
Tecnologias usadas: BeautifulSoup y Django
</p>

		    <hr>

		</article>
	</div>
{% endblock %}